/* Now we don't need to make changes in every pages separately, the style is now centralised and we need to manage/change our style here */
*{
    box-sizing: border-box;
}
body{
    /* Let's add a background color to our page, as in our prototype */
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
    background-color: #f0fff1;

}
.landing{
    /* Let's move it to the center */
    margin:0 auto;
    width: 1000px;
    margin-top: 62px;
    background-color: #fff;
    padding: 3.2em;
    margin-bottom: 20px;
}
.leftcolum{
    float: left;
    width: 65%;
    background-color: #fff;
    padding:60px;
    margin-right: 20px;
}
.rightcolumn{
    float: left;
    padding: 10px;
    width: 25%;
    border-left: 5px solid blue;
}
ul.sidebar{
    background-color: #292929;
    /* This will remove the left bullest (dots) */
    list-style: none;
    color: white;
    padding-left: 0;
}
ul.sidebar li{
    padding: 10px;
    border-bottom: 1px solid #3c3c3c;
}
ul.sidebar a{
    color: wheat;
    text-decoration: none;
}
.footer{
    padding: 20px;
    text-align: center;
    background-color: #f0f0f0;
    margin-top: 20px;
}
/* Clear floats after the columns */
.row:after{
    content: "";
    display: table;
    clear: both;
}
/* Let's fix the top navigation bar. The background is not applied */
.topnav{
    background-color: #fff;
    overflow: hidden;
    /* Let's stick it to the top while we are scrolling */
    top:0;
    position: fixed;
    /* Now it got smaller, let's make it full-width */
    width: 100%;
    /* Now the navbar doesn't disappear when we scroll the page */

}
.topnav a{
    float: left;
    color:#081c15;
    display: block;
    /* With no underline */
    text-decoration: none;
    padding: 14px 16px;
    /* Let's make it uppercase */
    text-transform: uppercase;
}
.topnav a.brand{
    color:#38b000;
    font-weight:bold;
}
.topnav a.right{
    float: right;
}
.topnav a.btn{
    background-color: #38b000;
    font-weight: 600;
    color: #fff;
}
input{
    margin-top:8px;
}
input[type="text"], input[type="password"] {
    padding:0.5em;
    width: 200px;
    border: 0;
    background-color: azure;
}
input[type="submit"], input[type="reset"]{
    padding:0.8em;
    background-color: blueviolet;
    border:none;
    color:white;
}
input[type="text"]:focus, input[type="password"]:focus {
    outline: none !important;
    background-color: beige;
    border: 4px solid green;
}
select{
    padding:0.4em
}

.column{
    float: left;
    width: 33.33%;
    border: 1px solid green;
    padding:20px
}
.c{
    float: left;
    padding:20px;
    border: 1px solid green;
}

.c.sidec{
    width: 25%;
}
.c.middlec{
    width: 50%;
}
/* it's time to make our page responsive. Let's resize the browser window and see what happens */
/* Let's add some declarations that when the screen is less than 800px wide, make the two and three columns stack on top of each other instead of next to each other */
/* We will use CSS media and @- rules*/

@media screen and (max-width: 800px) {
    .leftcolum, .rightcolumn, .c.sidec, .c.middlec {
        width: 100%;
        padding: 0;
    }
}

/* and when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
    .topnav a.right {
        float: none;
    }
}